{% load reqApp_tags %}
<style>
/* color estado de cumplimiento de elemento */
/* IMPORTANTE: estas clases deben corresponder con el nombre del estado especificado en choices.py */
.no_cumple{
    color:Red;
}

.cumple{
    color:Green;
}

.ambiguo{
    color:Purple;
}
    
/* contenedor de elemento de lista */
div.contenedorElemento{
    padding:0px;
    margin:0px;
}

.contenedorElemento div{
    padding-left: 20px;
    padding-bottom: 0px;
    margin:0px;
}
</style>
{% for ru in RUs %}
    <div class="contenedorElemento">
        <b>{{ru}}</b><br/>
        <div>
        <i style="color:Gray;">Descripción: </i>{{ ru.descripcion }}<br/>
        <i style="color:Gray;">Estado: </i><b class="{{ ru.estado }}">{{ ru|estado }}</b><br/>
        <i style="color:Gray;">Tipo: </i>{{ ru|tipoRU }}<br/>
        <i style="color:Gray;">Fecha: </i>{{ ru.fecha|date:"d-m-Y h:m" }}
        </div>
	</div>
	<hr/>
{% endfor %}
