{% load reqApp_tags %}

<style>
p.draw{
font-family:"Courier New", Courier, monospace;
font-size: 1.0em;
line-height: auto;
display:block;
}
</style>
{% comment %}
{% for mt in MTs %}
    <h2>{{ mt.nombre }}</h2>
    {% for subMT in mt.subMTs %}
        <p class="draw">
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col0}}{% endfor %}<br/>
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col1}}{% endfor %}<br/>
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col2}}{% endfor %}<br/>
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col3}}{% endfor %}<br/>
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col4}}{% endfor %}<br/>
            <span style="color:White;">······</span>|{% for c in subMT.0 %}{{c.col5}}{% endfor %}<br/>
            ------|{% for c in subMT.0 %}-{% endfor %}<br/>
            {% for fila in subMT %}
                    {{ fila.0.fila }}|{% for c in fila %}·{% endfor %}<br/>
            {% endfor %}
        </p>
        <pdf:nextpage/>
    {% endfor %}
{% endfor %}
{% endcomment %}

{% for mt in MTs %}
    <h2>{{ mt.nombre }}</h2>
    {% for subMT in mt.subMTs %}
        <p class="draw">
            {{ subMT|textTableHorizHeaders|safe }}
            {% for fila in subMT %}
                    {{ fila.0.elFila.textoIdentificador }}|{% for c in fila %}{% if c.match %}<b style="color:Black;">+</b>{% else %}<span style="color:#CCCCCC;">·</span>{% endif %}{% endfor %}<br/>
            {% endfor %}
        </p>
        <pdf:nextpage/>
    {% endfor %}
{% endfor %}
