{% extends "reqApp/base.html" %}
{% block body %}
<br/>
<div>
    <div style="display: inline-block;width:100px;vertical-align:top;">
        <select class="boton_azul" title="Seleccionar Relación de Consistencia" id='tipoSelect' onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in CONSISTENCIA_CHOICES %}
                <option value="?consistencia={{key}}"{% ifequal consistencia key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
        <select class="boton_azul" title="Seleccionar Elemento" onchange="location = document.getElementById('tipoSelect').options[document.getElementById('tipoSelect').selectedIndex].value + this.options[this.selectedIndex].value;">
            {% for key,val in IDENTIFICADOR_CHOICES %}
                <option value="&identificador={{key}}"{% ifequal identificador|stringformat:"s" key|stringformat:"s" %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
        <div style="height: 30px;"></div>
    </div>
    <div style="display:inline-block;position:relative;float:right;">
        <a class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo=CT&consistencia={{consistencia}}" target="_blank">PDF</a>
    </div>
</div>

<div>
<button title="útil para buscar (ctrl+f)" style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='abrirTodos()'>(+)Abrir Todos</button>
<button title="colapsar elementos" style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='cerrarTodos()'>(--)Cerrar Todos</button>
<div style="display: inline-block;width:20%;"></div>
</div>
<br/>

{% ifequal elementos|length 0 %}
    <p class="centrado">--------------- Lista de Elementos Vacía ---------------</p>
{% else %}
    {% for e in elementos %}
        <div class="contenedorElemento">
            <div id="{{ e.elemento.textoIdentificador }}">
                {% include templates.elemento with elemento=e.elemento bitacora=False %}
            </div>
        </div>
        {% for se in e.subElementos %}
            <div style="margin-left:50px;" class="contenedorElemento">
                <div id="{{ se.textoIdentificador }}">
                    {% include templates.subElemento with elemento=se bitacora=False %}
                </div>
            </div>
        {% endfor %}
        <br/>
    {% endfor %}
{% endifequal %}

{% endblock %}
