{% extends "reqApp/proyecto/elemento_proyecto.html" %}
{% load reqApp_tags %}

{% block encabezado %}
    <div style="display: inline-block;width:95%;vertical-align:top;">
        <a onclick="expandirContraerContenido(this)" style="cursor:pointer;" name="{{ elemento.textoIdentificador }}">
            <b>{{ elemento }}</b>
        </a>
    </div>
{% endblock %}

{% block contenido %}
    <br/>
    <div>
        {{ elemento.descripcion }}
    </div>
    <br/>
    <div>
        <div style="display: inline-block;width:40%;vertical-align:top;">
            <span style="color:Gray;">Cantidad de usuarios: </span>{{ elemento.cantidad }}
        </div>
        <div style="display: inline-block;width:40%;vertical-align:top;">
            <ul class="flat">
            <span style="color:Gray;">Usuarios contactables: </span>
                <ul>
                    {% for c in elemento.usuariosContactables|splitBy:';' %}
                        <li>{{c}}</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
