{% extends "reqApp/proyecto/element_form.html" %}
{% block campos %}
    <div><span class="def_width">*Nombre: </span>{{ form.nombre }}</div>
    <div class="top"><span class="def_width">*Descripción:</span></div> <div class="top">{{ form.descripcion }}</div>
    <div><span class="def_width">*Cantidad: </span>{{ form.cantidad }}</div>
    <div class="top"><span class="def_width">Usuarios contactables: </span></div><div class="top">{{ form.usuariosContactables }}</div><span>Usar semicolon (;) para separar.</span>
{% endblock %}
