{% extends "reqApp/proyecto/element_form.html" %}
{% block campos %}
    <div><span style="display:inline-block;width:9em;">*Nombre: </span>{{ form.nombre }}</div>
    <div class="top"><span style="display:inline-block;width:9em;">*Descripción:</span></div> <div class="top">{{ form.descripcion }}</div>
    <div><span style="display:inline-block;width:9em;">*Cantidad: </span>{{ form.cantidad }}</div>
    <div class="top"><span style="display:inline-block;width:9em;">Usuarios contactables: </span></div><div>{{ form.usuariosContactables }}</div>
{% endblock %}
