<form {% if textoIdentificador %}id="{{ textoIdentificador }}_form"{% else %}id='nuevoElemento'{% endif %} action="" method="post" class="contenedorEdicionElemento">
	{% csrf_token %}
    {% if identificador %}
        <input type="hidden" name="identificador" value={{ identificador }}>
    {% endif %}
    
    <div>
        {% if  textoIdentificador %}
            <b>{{ textoIdentificador }}</b>
        {% endif %}
        
        {% block campos %}{% endblock %}
        
    </div>
    <br/>
	
	
	{% if  textoIdentificador %}
        <button title="Cancelar Edición&#013;y Recargar Página" class="boton_azul" type="button" onclick="cancelarEdicionElemento('{{ textoIdentificador }}')">Cancelar</button>
	    <button title="Eliminar {{textoIdentificador}}" style="margin-left:100px;" class="boton_azul" type="button" onclick="borrarElemento({{ identificador }}, '{{csrf_token}}')" >Eliminar</button>
	{% else %}
    	<button title="Cancelar Edición&#013;y Recargar Página" class="boton_azul" type="button" onclick="cancelarNuevoElemento()">Cancelar</button>
	{% endif %}
	<button title="Guardar Cambios" style="margin-left:100px;" class="boton_azul" type="submit" onclick="return validForm(event,this)">Guardar</button>
</form>
