{% load reqApp_tags %}
<div>
    <div class="tituloElemento">
        {% block encabezado %}{% endblock %}
            {% if not bitacora %}
                {% with elemento|alarms as alerts %}
                    {% if alerts %}
                        <div title="Alerta!" style="display:inline-block;float:right;margin-right:10px;width:1em;vertical-align:top;color:White;background-color:#0C59CF;text-align:center;cursor:pointer;" onclick="alert('Posibles conflictos de {{ elemento.textoIdentificador }}:\n'
                            {% for a in alerts %}
                                +' • {{a}}\n'
                            {% endfor %}
                            );">
                            <b>!</b>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
    </div>
    {% if bitacora %}
        {% include "reqApp/herramientas/bitacora/registro_bitacora.html" with actual=actual borrado=borrado nuevo=nuevo %}
    {% endif %}
</div>

<div id="{{ elemento.id }}_contenido" name="elemento_contenido" style="display:none;">
    {% block contenido %}{% endblock %}
    
    {% if canEdit %}
        <br/>
        <button class="boton_azul" onclick="editarElemento('{{ elemento.textoIdentificador }}')">Editar</button>
    {% endif %}
</div>
