<div>
    <div class="tituloElemento">
        {% block encabezado %}{% endblock %}
        <div title="Alerta!" style="display: inline-block;float:right;margin-right:10px;width:1em;vertical-align:top;color:White;background-color:#0C59CF;text-align:center;cursor:pointer;" onclick="alert('una simple alerta:\n\ttienes poco tiempo\n\ty cada vez te queda menos');">
        {% if not bitacora %}
            {% comment %}
                {% if elemento.alert %}
                    <b>!</b>
                {% endif %}
            {% endcomment %}
        {% endif %}
        </div>
    </div>
    {% if bitacora %}
        {% include "reqApp/herramientas/bitacora/registro_bitacora.html" with actual=actual borrado=borrado nuevo=nuevo %}
    {% endif %}
</div>

<div id="{{ elemento.id }}_contenido" name="elemento_contenido" style="display:none;">
    {% block contenido %}{% endblock %}
    
    {% if form_template %}
        <br/>
        <button class="boton_azul" onclick="editarElemento('{{ elemento.textoIdentificador }}')">Editar</button>
    {% endif %}
</div>
