{% extends "reqApp/base.html" %}
{% block body %}
{% for mensaje in mensajes %}
    <div class="mensaje">
        {{ mensaje }}
    </div>
{% endfor %}
<br/>

<div>

    <button title="útil para buscar (ctrl+f)" style="display: inline-block;width:auto;" class="boton_azul" onclick='abrirTodos()'>(+)Abrir Todos</button>
    <button title="colapsar elementos" style="display: inline-block;width:auto;" class="boton_azul" onclick='cerrarTodos()'>(--)Cerrar Todos</button>
    <div style="display: inline-block;width:20%;"></div>
    {% if canEdit %}
        <a title="Agregar Nuevo" style="display: inline-block;width:auto;" href='#nuevo' class="boton_azul" onclick='editarNuevoElemento()'>Nuevo</a>
    {% endif %}
    <div style="display:inline-block;position:relative;float:right;">
        {% if pdfLink %}
            <a title="Generar Documento PDF" class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo={{ pdfLink }}" target="_blank">PDF</a>
        {% endif %}
        {% if helpLink %}
            <a title="Ayuda" class="boton_azul" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank">?</a>
        {% endif %}
    </div>
    
</div>

<div style="text-align:right;">
    <div>
        <i style="color:Gray;">Colores: </i>
        <b class="cumple">cumple </b>
        <b class="no_cumple">no cumple </b>
        <b class="ambiguo">ambiguo </b>
    </div>
</div>

{% include barra_orden_elementos with atributos=atributos_ordenables orden_actual=orden_actual %}

{% ifequal elementos|length 0 %}
    <p class="centrado">--------------- Lista Vacía ---------------</p>
{% else %}
        {% for e in elementos %}
            <div class="contenedorElemento">
                <div id="{{ e.elemento.textoIdentificador }}">
                    {% include template with elemento=e.elemento %}
                </div>
                {% if canEdit %}
                    {% include form_template with form=e.form identificador=e.elemento.identificador textoIdentificador=e.elemento.textoIdentificador %}
                {% endif %}
            </div>
        {% endfor %}
{% endifequal %}

{% if canEdit %}
    <div class="contenedorNuevoElemento">
        <a name='nuevo'></a>
        {% include form_template with form=form %}
    </div>
{% endif %}


{% endblock %}
