{% extends "reqApp/base.html" %}
{% block body %}
{% for mensaje in mensajes %}
    <div class="mensaje">
        {{ mensaje }}
    </div>
{% endfor %}

<br/>

<div>
    <button style="display: inline-block;width:auto;" class="boton_azul" onclick='abrirTodos()'>(+)Abrir todos</button>
    <button style="display: inline-block;width:auto;" class="boton_azul" onclick='cerrarTodos()'>(--)Cerrar todos</button>
    <div style="display: inline-block;width:20%;"></div>
    <a style="display: inline-block;width:auto;" href='#nuevo' class="boton_azul" onclick='editarNuevoElemento()'>Nuevo</a>
    {% if pdfLink %}
        <div style="display:inline-block;position:relative;float:right;">
            <a class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo={{ pdfLink }}" target="_blank">PDF</a>
        </div>
    {% endif %}
</div>

<br/>
{% include barra_orden_elementos with atributos=atributos_ordenables %}

{% ifequal elementos|length 0 %}
    <p class="centrado">--------------- Lista Vacía ---------------</p>
{% else %}
    {% for e in elementos %}
        <div class="contenedorElemento">
            <div id="{{ e.elemento.textoIdentificador }}">
                {% include template with elemento=e.elemento %}
            </div>
            {% if form_template %}
                {% include form_template with form=e.form identificador=e.elemento.identificador textoIdentificador=e.elemento.textoIdentificador %}
            {% endif %}
        </div>
    {% endfor %}
{% endifequal %}

{% if form_template %}
    <div class="contenedorNuevoElemento">
        <a name='nuevo'></a>
        {% include form_template with form=form %}
    </div>
{% endif %}


{% endblock %}
