{% extends "reqApp/pdf/base.html" %}
{% load reqApp_tags %}

{% block content %}
	{% for seccion in secciones %}
    	{{ seccion.titulo|safe }}
    	{{ seccion.contenido.parrafo|agregarHostALosSrc:host|safe }}
    	<br/>
	{% endfor %}
	
	<pdf:nextpage/>
	<h1>3. Requisitos del Sistema</h1>
	<h2>3.1. Requisitos de Usuario</h2>
	{% include "reqApp/pdf/proyecto/RU/RU_list.html" with RUs=RUs %}
	<br/>
	<h2>3.2. Requisitos de Software</h2>
	{% include "reqApp/pdf/proyecto/RS/RS_list.html" with RSs=RSs %}
	<br/>
	<h1>4. Casos de Prueba</h1>
    {% include "reqApp/pdf/proyecto/CP/CP_list.html" with CPs=CPs %}
	
	<pdf:nextpage/>
	<h1>5. Matrices de Trazado</h1>
	{% include "reqApp/pdf/herramientas/matrices/MT_list.html" with MTs=MTs %}
{% endblock %}
