<!DOCTYPE html>
<html>
<head>
<title>
{%block title%}	
{%endblock%}
</title>
<!--
-pdf-frame-border: 1;
-->
<style type="text/css">
{% block style %}
    @page portada {
        size: {{pagesize}};
        margin: 1cm;
        bottom: 1cm;
    }
    @page documento {
        size: {{pagesize}};
        margin: 1cm;
        bottom: 1cm;
        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 1cm;
            margin-left: 1cm;
            margin-right: 1cm;
            height: 1cm;
        }
    }
    img {
        zoom: 80%;
    }
    body{
        font-size: 1.5em;
    }
{%endblock%}	
</style>
</head>
<body>
<div id="footerContent">
{%block page_foot%}
		<pdf:pagenumber/>
		de <pdf:pagecount>
{%endblock%}
</div>
<pdf:nexttemplate name="portada"/>
{%block content%}{%endblock%}
</body>
</html>
