{% extends "reqApp/base.html" %}

{% block body %}
<br/>
<div>
    Hito: 
    <select onchange="location = this.options[this.selectedIndex].value;">
        {% for key,val in HT_CHOICES %}
            <option value="?hito={{key}}"{% ifequal hito key %}selected{% endifequal %}>{{val}}</option>
        {% endfor %}
    </select>
</div>

<br/>

<table class="estadisticas">
    <tr>
        <th colspan=2>RU</th>
        <th class="estadisticas">cumple</th>
        <th class="estadisticas">no cumple</th>
        <th class="estadisticas">ambiguo</th>
        <th class="estadisticas">total</th>
    </tr>
    {% for atributo in RU.atributos %}
        {% for tr in atributo %}
            {% if tr.atributo %}
            <tr class="estadisticas">
                <th rowspan={{ tr.atributos }}>{{ tr.atributo }}</th>
            {% else %}
            <tr>
            {% endif %}
                <td>{{ tr.nombre }}</td>
                <td>{{ tr.cumple }}</td>
                <td>{{ tr.no_cumple }}</td>
                <td>{{ tr.ambiguo }}</td>
                <td>{{ tr.total }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RU.total parte=tr.total %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr class="estadisticas">
        <td colspan=2></td>
        <td>{{ RU.estado.cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RU.total parte=RU.estado.cumple %}</td>
        <td>{{ RU.estado.no_cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RU.total parte=RU.estado.no_cumple %}</td>
        <td>{{ RU.estado.ambiguo }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RU.total parte=RU.estado.ambiguo %}</td>
        <td><b>{{ RU.total }}</b>{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RU.total parte=RU.total %}</td>
    </tr>
    {% for e in RU.extras %}
        <tr>
            <th>{{ e.nombre }}</th>
            <td>{{ e.cantidad }}</td>
        </tr>
    {% endfor %}
</table>

<br/>

<table class="estadisticas">
    <tr>
        <th colspan=2>RS</th>
        <th class="estadisticas">cumple</th>
        <th class="estadisticas">no cumple</th>
        <th class="estadisticas">ambiguo</th>
        <th class="estadisticas">total</th>
    </tr>
    {% for atributo in RS.atributos %}
        {% for tr in atributo %}
            {% if tr.atributo %}
            <tr class="estadisticas">
                <th rowspan={{ tr.atributos }}>{{ tr.atributo }}</th>
            {% else %}
            <tr>
            {% endif %}
                <td>{{ tr.nombre }}</td>
                <td>{{ tr.cumple }}</td>
                <td>{{ tr.no_cumple }}</td>
                <td>{{ tr.ambiguo }}</td>
                <td>{{ tr.total }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RS.total parte=tr.total %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr class="estadisticas">
        <td colspan=2></td>
        <td>{{ RS.estado.cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RS.total parte=RS.estado.cumple %}</td>
        <td>{{ RS.estado.no_cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RS.total parte=RS.estado.no_cumple %}</td>
        <td>{{ RS.estado.ambiguo }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RS.total parte=RS.estado.ambiguo %}</td>
        <td><b>{{ RS.total }}</b>{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=RS.total parte=RS.total %}</td>
    </tr>
    {% for e in RS.extras %}
        <tr>
            <th>{{ e.nombre }}</th>
            <td>{{ e.cantidad }}</td>
        </tr>
    {% endfor %}
</table>

<br/>

<table class="estadisticas">
    <tr>
        <th colspan=2>CP</th>
        <th class="estadisticas">cumple</th>
        <th class="estadisticas">no cumple</th>
        <th class="estadisticas">ambiguo</th>
        <th class="estadisticas">total</th>
    </tr>
    {% for atributo in CP.atributos %}
        {% for tr in atributo %}
            <tr class="estadisticas">
                <th colspan=2>{{ tr.nombre }}</th>
                <td>{{ tr.cumple }}</td>
                <td>{{ tr.no_cumple }}</td>
                <td>{{ tr.ambiguo }}</td>
                <td>{{ tr.total }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=CP.total parte=tr.total %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr class="estadisticas">
        <td colspan=2></td>
        <td>{{ CP.estado.cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=CP.total parte=CP.estado.cumple %}</td>
        <td>{{ CP.estado.no_cumple }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=CP.total parte=CP.estado.no_cumple %}</td>
        <td>{{ CP.estado.ambiguo }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=CP.total parte=CP.estado.ambiguo %}</td>
        <td><b>{{ CP.total }}</b>{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=CP.total parte=CP.total %}</td>
    </tr>
    {% for e in CP.extras %}
        <tr>
            <th>{{ e.nombre }}</th>
            <td>{{ e.cantidad }}</td>
        </tr>
    {% endfor %}
</table>

<br/>

<table class="estadisticas">
    <tr>
        <th colspan=2>MD</th>
        <th class="estadisticas">total</th>
    </tr>
    {% for atributo in MD.atributos %}
        {% for tr in atributo %}
            {% if tr.atributo %}
            <tr class="estadisticas">
                <th rowspan={{ tr.atributos }}>{{ tr.atributo }}</th>
            {% else %}
            <tr>
            {% endif %}
                <td>{{ tr.nombre }}</td>
                <td>{{ tr.total }}{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=MD.total parte=tr.total %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr class="estadisticas">
        <td colspan=2></td>
        <td><b>{{ MD.total }}</b>{% include "reqApp/herramientas/estadisticas/porcentaje.html" with total=MD.total parte=MD.total %}</td>
    </tr>
    {% for e in MD.extras %}
        <tr>
            <th>{{ e.nombre }}</th>
            <td>{{ e.cantidad }}</td>
        </tr>
    {% endfor %}
</table>

<br/>

<div>
    *Los Módulos no se encuentran asociados a un Hito específico, en esta gráfica se muestran todos los MD asociados al proyecto.
</div>
<div>
    **No se contabilizan RU ni RS sin Hito asociado.
</div>
<div>
    ***Se contabilizan sólo los CP asociados a los requisitos contabilizados aquí.
</div>
{% endblock %}
