{% extends "reqApp/base.html" %}
{% load reqApp_tags %}

{% block body %}
<br/>
<div>
    Hito: 
    <select onchange="location = this.options[this.selectedIndex].value;">
        {% for key,val in HT_CHOICES %}
            <option value="?hito={{key}}"{% ifequal hito key %}selected{% endifequal %}>{{val}}</option>
        {% endfor %}
    </select>
</div>

<br/>

<table>
    <tr>
        <th>RU</th>
        <th></th>
        <th>cumple</th>
        <th>no cumple</th>
        <th>ambiguo</th>
        <th>total</th>
    </tr>
    {% for atributo in RU.atributos %}
        {% for tr in atributo %}
            <tr>
                <td>{{ tr.atributo }}</td>
                <td>{{ tr.nombre }}</td>
                <td>{{ tr.cumple }}</td>
                <td>{{ tr.no_cumple }}</td>
                <td>{{ tr.ambiguo }}</td>
                <td>{{ tr.total }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>{{ RU.estado.cumple }}</td>
        <td>{{ RU.estado.no_cumple }}</td>
        <td>{{ RU.estado.ambiguo }}</td>
        <td>{{ RU.total }}</td>
    </tr>
        {% for e in RU.extras %}
        <tr>
            <td>{{ e.nombre }}</td>
            <td>{{ e.cantidad }}</td>
        </tr>
        {% endfor %}
    
    {% comment %}
    {% for tr in RU.estabilidad %}
        <tr>
            <td>{{ tr.atributo }}</td>
            <td>{{ tr.nombre }}</td>
            <td>{{ tr.cumple }}</td>
            <td>{{ tr.no_cumple }}</td>
            <td>{{ tr.ambiguo }}</td>
            <td>0</td>
        </tr>
    {% endfor %}
    {% for tr in RU.tipo %}
        <tr>
            <td>{{ tr.atributo }}</td>
            <td>{{ tr.nombre }}</td>
            <td>{{ tr.cumple }}</td>
            <td>{{ tr.no_cumple }}</td>
            <td>{{ tr.ambiguo }}</td>
            <td>0</td>
        </tr>
    {% endfor %}
    {% endcomment %}
</table>
{% comment %}
<div>
    <div>
    {% for p in RU.prioridad %}
        <div>{{ p.nombre }}</div>
        <div>{{ p.cumple }}</div>
        <div>{{ p.no_cumple }}</div>
        <div>{{ p.ambiguo }}</div>
    {% endfor %}
    </div>
    <div>
    {% for e in RU.estabilidad %}
        <div>{{ e.nombre }}</div>
        <div>{{ e.cumple }}</div>
        <div>{{ e.no_cumple }}</div>
        <div>{{ e.ambiguo }}</div>
    {% endfor %}
    </div>
    <div>
    {% for t in RU.tipo %}
        <div>{{ t.nombre }}</div>
        <div>{{ t.cumple }}</div>
        <div>{{ t.no_cumple }}</div>
        <div>{{ t.ambiguo }}</div>
    {% endfor %}
    </div>
    {% for e in RU.estado %}
        <div>{{ e.nombre }}</div>
        <div>{{ e.cantidad }}</div>
    {% endfor %}
    </div>
    <div>
    {% for e in RU.extras %}
        <div>{{ e.nombre }}</div>
        <div>{{ e.cantidad }}</div>
    {% endfor %}
    </div>
    <div>
        Total RU:{{ RU.total }}
    </div>
</div>
{% endcomment %}
{% endblock %}
