{% extends "reqApp/base.html" %}

{% block body %}
<br/>
<div>
    <div style="display:inline-block;">
        Hito: 
        <select class="boton_azul" title="Seleccionar Hito" onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in HT_CHOICES %}
                <option value="?hito={{key}}"{% ifequal hito key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="display:inline-block;position:relative;float:right;">
        <a class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo=ET" target="_blank">PDF</a>
        <a title="Ayuda" class="boton_azul" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank">?</a>
    </div>
</div>
<br/>

<h3>Requisitos de Usuario{% if nombreHito %}, {{ nombreHito }}{% endif %}</h3>
{% include "reqApp/herramientas/estadisticas/RU.html" with RU=RU %}

<br/>
<h3>Requisitos de Software{% if nombreHito %}, {{ nombreHito }}{% endif %}</h3>
{% include "reqApp/herramientas/estadisticas/RS.html" with RS=RS %}

<br/>
<h3>Casos de Prueba{% if nombreHito %}, {{ nombreHito }}{% endif %}</h3>
{% include "reqApp/herramientas/estadisticas/CP.html" with CP=CP %}

<br/>
<h3>Módulos</h3>
{% include "reqApp/herramientas/estadisticas/MD.html" with MD=MD %}

<br/>
<ul>
<li>Los Módulos no se encuentran asociados a un Hito específico, en esta gráfica se muestran todos los MD asociados al proyecto.</li>
<li>No se contabilizan RU ni RS sin Hito asociado.</li>
<li>Se contabilizan sólo los CP asociados a los requisitos contabilizados aquí.</li>
<li>Elementos sin RU, RS o TU asociados son contabilizados en el total.</li>
</ul>
{% endblock %}
