{% extends "reqApp/base.html" %}
{% block body %}
<script>
var textoFila = "------------------";
var textoColumna = "------------------";
/*
// mostrar elementos de fila y columna seleccionada en la matriz de trazado
function mostrarElementosDeMatrizDeTrazado(el, elFila, elFilaEstado, elFilaTipo, elCol, elColEstado, elColTipo){
    elFilaTipo = (elFilaTipo!='')?('title="tipo: '+elFilaTipo+'"'):'';
    elColTipo = (elColTipo!='')?('title="tipo: '+elColTipo+'"'):'';
    textoFila = "<div class='"+elFilaEstado+"' "+elFilaTipo+">"+elFila+"</div>";
    textoColumna = "<div class='"+elColEstado+"' "+elColTipo+">"+elCol+"</div>";
    $('#fila').html(textoFila);
    $('#columna').html(textoColumna);
    $('#matr_selec').css({'left': el.style.left, 'top': el.style.top});
}
*/

function textoMatriz(el, elEstado, elTipo){
    elTipo = (elTipo!='')?('title="tipo: '+elTipo+'"'):'';
    return "<div class='"+elEstado+"' "+elTipo+">"+el+"</div>";
}

$('[name=elemento_matriz]').click(function(){
    var el = $(this);
    
    textoFila = textoMatriz(el.attr('elFila'), el.attr('elFilaEstado'), el.attr('elFilaTipo'));
    textoColumna = textoMatriz(el.attr('elCol'), el.attr('elColEstado'), el.attr('elColTipo'));
    
    $('#fila').html(textoFila);
    $('#columna').html(textoColumna);
    $('#matr_selec').css({'left': el.style.left, 'top': el.style.top});
});

$('[name=elemento_matriz]').hover(function() {
    var el = $(this);
    el.addClass("matr_hover");
    $('#fila').html(textoMatriz(el.attr('elFila'), el.attr('elFilaEstado'), el.attr('elFilaTipo')));
    $('#columna').html(textoMatriz(el.attr('elCol'), el.attr('elColEstado'), el.attr('elColTipo')));
}, function() {
    $(this).removeClass("matr_hover");
    $('#fila').html(textoFila);
    $('#columna').html(textoColumna);
});
</script>
<br/>
<div>
    <div style="display: inline-block;width:auto;vertical-align:top;margin-right:20px;">
        <select class="boton_azul" title="Seleccionar Matriz de Trazado" onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in MATRIZ_CHOICES %}
                <option value="?tipo={{key}}"{% ifequal tipo key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
        <div style="height: 30px;"></div>
    </div>
    <div style="display: inline-block;width:auto;vertical-align:top;">
        <div><div style="display:inline-block;width:5em;">Fila:</div><div style="display:inline-block;width:auto;" id='fila'>------------------</div></div>
        <div><div style="display:inline-block;width:5em;">Columna:</div><div style="display:inline-block;width:auto;" id='columna'>------------------</div></div>
    </div>
    <div style="display:inline-block;position:relative;float:right;">
        <a class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo=MT" target="_blank">PDF</a>
    </div>
</div>
<div id="matr" style="position:relative;width:auto;height:auto;">
    {% for fila in filas %}
        {% for e in fila %}
            <div style="left:{{e.col}}0px;top:{{e.fila}}0px;"
                {% if e.match %}
                    title="intersección&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_match"
                {% elif e.no_intersec %}
                    title="nunca intersecta!&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_no_intersec"
                {% else %}
                    title="no intersecta&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_no_match"
                {% endif %}
                name="elemento_matriz"
                elFila= "{{ e.elFila }}"
                elFilaEstado = "{{ e.elFila.estado }}"
                elFilaTipo = "{{ e.elFila.tipo }}"
                elCol = "{{ e.elCol }}"
                elColEstado = "{{ e.elCol.estado }}"
                elColTipo = "{{ e.elCol.tipo }}">
            </div>
        {% endfor %}
    {% endfor %}
    <div id="matr_selec" class="matr_selec"></div>
</div>
{% endblock %}
