{% extends "reqApp/base.html" %}
{% block body %}
<br/>
<div>
    <div style="display: inline-block;width:auto;vertical-align:top;margin-right:20px;">
        <select class="boton_azul" title="Seleccionar Matriz de Trazado" onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in MATRIZ_CHOICES %}
                <option value="?tipo={{key}}"{% ifequal tipo key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
        <div style="height: 30px;"></div>
    </div>
    <div style="display: inline-block;width:auto;vertical-align:top;">
        <div><div style="display:inline-block;width:5em;">Fila:</div><div style="display:inline-block;width:auto;" id='fila'>------------------</div></div>
        <div><div style="display:inline-block;width:5em;">Columna:</div><div style="display:inline-block;width:auto;" id='columna'>------------------</div></div>
    </div>
    <div style="display:inline-block;position:relative;float:right;">
        <a class="boton_azul" href="{% url 'reqApp:pdf' %}?tipo=MT" target="_blank">PDF</a>
    </div>
</div>
<div id="matr" style="position:relative;width:auto;height:auto;">
    {% for fila in filas %}
        {% for e in fila %}
            <div style="left:{{e.col}}0px;top:{{e.fila}}0px;"
                {% if e.match %}
                    title="intersección&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_match"
                {% elif e.no_intersec %}
                    title="nunca intersecta!&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_no_intersec"
                {% else %}
                    title="no intersecta&#013;[--]  {{e.elFila.textoIdentificador}}&#013;[ | ]  {{e.elCol.textoIdentificador}}"
                    class="matr_no_match"
                {% endif %}
                name="elemento_matriz"
                elFila="{{e.elFila.textoIdentificador}}"
                elCol="{{e.elCol.textoIdentificador}}"
                onClick="mostrarElementosDeMatrizDeTrazado(
                                this,
                                '{{ e.elFila }}',
                                '{{ e.elFila.estado }}',
                                '{{ e.elFila.tipo }}',
                                '{{ e.elCol }}',
                                '{{ e.elCol.estado }}',
                                '{{ e.elCol.tipo }}');">
            </div>
        {% endfor %}
    {% endfor %}
    <div id="matr_selec" class="matr_selec"></div>
</div>
{% endblock %}
