<form action="" method="post">
	{% csrf_token %}
    {% if identificador %}
        <input type="hidden" name="identificador" value={{ identificador }}>
    {% endif %}
    <div>
        {% if  textoIdentificador %}
            <b>{{ textoIdentificador }}</b>
        {% endif %}
        <div>Nombre: {{ form.nombre }}</div>
        <div>Requisito asociado: {{ form.requisito }}</div>
        <div class="top">Descripción:</div> <div class="top">{{ form.descripcion }}</div>
        <div><div class="top">Resultado aceptable:</div><div class="top">{{ form.resultadoAceptable }}</div></div>
        <div><div class="top">Resultado óptimo:</div><div class="top">{{ form.resultadoOptimo }}</div></div>
        <div><div class="top">Usuarios asociados: </div><div class="top">{{ form.tiposUsuario }}</div>(presionar "Ctrl" para seleccionar)</div>
        <div>Estado: {{ form.estado }}</div>
    </div>

	<button class="boton_azul" type="submit" onclick="validForm(this.form)">
		Guardar
	</button>
</form>

