{% extends "reqApp/base.html" %}
{% block body %}

<br/>
<div>
    <div style="display:inline-block;width:auto;">Sección:</div>
    <div style="display:inline-block;width:auto;">
        <select onchange="location = this.options[this.selectedIndex].value;">
            {% for pa in parrafos %}
                    <option value="?parrafo={{pa.tipo}}"{% ifequal parrafo pa.tipo %}selected{% endifequal %}{% if not pa.activo %}disabled{% endif %}>{{ pa.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="display:inline-block;width:30%;">
        <button class="boton_azul" onclick="expandirContraerElemento('parrafo');expandirContraerElemento('preview');">Editar</button>
        <button class="boton_azul" onclick="$('#id_mce').submit();">Guardar</button>
        <button class="boton_azul">Cancelar</button>
    </div>
    <div style="display:inline-block;width:auto;">
        {{ vigente.fecha }} :: {{ vigente.usuario }}
    </div>
</div>
<br/>
<div>
    <div style='' id='parrafo'>{% include "reqApp/documentos/mce.html" with form_id='id_mce' %}</div>
    <div id='preview'>{{ vigente.parrafo|safe }}</div>
</div>
{% endblock %}
