{% extends "reqApp/base.html" %}
{% block body %}

<script>
/* este script es para prevenir perder cambios sin guardar en el documento al cambiar de pagina */
var cambiosSinGuardar = function(){
    $('#parrafoSelect').val("?parrafo={{parrafo}}");//reasignar valor al select del parrafo
    return 'Are you sure you want to leave?';
};
function editar(){
    expandirContraerElemento('parrafo');
    expandirContraerElemento('preview');
    expandirContraerElemento('editar');
    expandirContraerElemento('edicion');
    expandirContraerElemento('version');
    expandirContraerElemento('versionSelect');
    $(window).bind('beforeunload', cambiosSinGuardar);
}
function cancelar(){
    expandirContraerElemento('parrafo');
    expandirContraerElemento('preview');
    expandirContraerElemento('editar');
    expandirContraerElemento('edicion');
    expandirContraerElemento('version');
    expandirContraerElemento('versionSelect');
    $(window).unbind('beforeunload', cambiosSinGuardar);
}
function guardar(){
    $(window).unbind('beforeunload', cambiosSinGuardar);
    $('#id_mce').submit();
}
</script>
<br/>
<div>
    <div style="display:inline-block;width:auto;">Sección:</div>
    <div style="display:inline-block;width:auto;">
        <select id="parrafoSelect" onchange="location = this.options[this.selectedIndex].value;">
            {% for pa in parrafos %}
                    <option value="?parrafo={{pa.tipo}}"{% ifequal parrafo pa.tipo %}selected{% endifequal %}{% if not pa.activo %}disabled{% endif %}>{{ pa.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="display:inline-block;width:30%;">
        <div id="editar" style="display:block">
            <button class="boton_azul" onclick="editar()">Editar</button>
        </div>
        <div id="edicion" style="display:none;">
            <button class="boton_azul" onclick="guardar()">Guardar</button>
            <button class="boton_azul" onclick="cancelar()">Cancelar</button>
        </div>
    </div>
    <div style="display:inline-block;width:auto;">
        <div id="version" style="display:block;">
            {% if vigente %}
                {{ vigente.fecha }} [{{ vigente.usuario }}]
            {% endif %}
        </div>
        <div id="versionSelect" style="display:none;">
            {% if versiones %}
                <select>
                    {% for version in versiones %}
                        <option value="?parrafo={{ parrafo }}&id={{version.id}}">{{ version.fecha }} [{{version.usuario}}]</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    </div>
</div>
<br/>
<div>
    <div style='display:none;' id='parrafo'>{% include "reqApp/documentos/mce.html" with form_id='id_mce' %}</div>
    <div style='display:block;' id='preview'><hr/>
    {% if vigente %}
        {{ vigente.parrafo|safe }}
    {% else %}
        <p style="text-align:center">---------------- Sección Vacía ----------------</p>
    {% endif %}
    <hr/></div>
</div>
{% endblock %}
