{% extends "reqApp/proyecto/element_form.html" %}
{% block campos %}
        <div><span class="def_width">*Nombre: </span>{{ form.nombre }}</div>
        <div class="top"><span class="def_width">*Descripción:</span></div> <div class="top">{{ form.descripcion }}</div>
        <div><span class="def_width">*Hito: </span>{{ form.hito }}</div>
        <div><div class="top"><span class="def_width">Usuarios asociados: </span></div><div class="top">{{ form.tiposUsuario }}</div>(presionar "Ctrl" para seleccionar)</div>
        <div><span class="def_width">*Prioridad: </span>{{ form.prioridad }}</div>
        <div><span class="def_width">*Estabilidad: </span>{{ form.estabilidad }}</div>
        <div><span class="def_width">*Tipo: </span>{{ form.tipo }}</div>
        <div><span class="def_width">*Fuente: </span>{{ form.fuente }}</div>
        <div><span class="def_width">*Estado: </span>{{ form.estado }}</div>
        <div><span class="def_width">Costo: </span>{{ form.costo }}</div>
{% endblock %}
