{% extends "reqApp/base.html" %}
{% block body %}
<br/>
<div>
    <select style="display:inline-block;width:auto;vertical-align:top;" class="boton_azul" title="Seleccionar Bitácora" id='tipoSelect' onchange="location = this.options[this.selectedIndex].value;">
        {% for key,val in TIPOS_CHOICES %}
            <option value="?tipo={{key}}"{% ifequal tipo key %}selected{% endifequal %}>{{val}}</option>
        {% endfor %}
    </select>
    <select style="display:inline-block;width:auto;vertical-align:top;" class="boton_azul" title="Seleccionar Elemento" onchange="location = document.getElementById('tipoSelect').options[document.getElementById('tipoSelect').selectedIndex].value + this.options[this.selectedIndex].value;">
        {% for key,val in IDENTIFICADOR_CHOICES %}
            <option value="&identificador={{key}}"{% ifequal identificador|stringformat:"s" key|stringformat:"s" %}selected{% endifequal %}>{{val}}</option>
        {% endfor %}
    </select>
    <div style="display:inline-block;position:relative;float:right;">
        <a title="Ayuda" class="boton_azul" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank">?</a>
    </div>
</div>

<br/>

<div>
<button title="útil para buscar (ctrl+f)" style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='abrirTodos()'>(+)Abrir Todos</button>
<button title="colapsar elementos" style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='cerrarTodos()'>(--)Cerrar Todos</button>
<div style="display: inline-block;width:20%;"></div>
</div>

<div style="text-align:right;">
    <div>
        <i style="color:Gray;">Colores: </i>
        <b class="cumple">cumple </b>
        <b class="no_cumple">no cumple </b>
        <b class="ambiguo">ambiguo </b>
        <i style="color:Gray;">Ordenamiento: </i>
        <b>fecha</b>
    </div>
</div>

{% ifequal elementos|length 0 %}
    <p class="centrado">--------------- Lista Vacía ---------------</p>
{% else %}
    {% for e in elementos %}
        <div class="contenedorElemento">
            <div id="{{ e.elemento.textoIdentificador }}">
                {% include template with elemento=e.elemento bitacora=True actual=e.actual borrado=e.borrado nuevo=e.nuevo %}
            </div>
        </div>
    {% endfor %}
{% endifequal %}

{% endblock %}
