{% extends "reqApp/proyecto/elemento_proyecto.html" %}
{% load reqApp_tags %}


{% block encabezado %}
    <div style="display: inline-block;width:60%;vertical-align:top;">
        <a onclick="expandirContraerElemento('{{ elemento.id }}_contenido')" href="#{{ elemento.textoIdentificador }}" name="{{ elemento.textoIdentificador }}">
            <b>{{ elemento }}</b>
        </a>
    </div>
    <div title="Costo" style="display: inline-block;width:2%;vertical-align:top;">
        {{ elemento.costo }}
    </div>
    <div style="display: inline-block;width:5%;vertical-align:top;"></div>
    <div title="Prioridad" style="display: inline-block;width:16%;vertical-align:top;">{{ elemento|prioridad }}</div>
    <div style="display: inline-block;width:10%;vertical-align:top;"></div>
{% endblock %}

{% block contenido %}
    <br/>
    <div>
        {{ elemento.descripcion }}
    </div>
    <br/>
    <div>
        <div style="display: inline-block;width:30%;vertical-align:top;"></div>
        <div style="display: inline-block;width:30%;vertical-align:top;"></div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <ul>
                <li>
                    <button class="sublista" onclick="expandirContraerElemento('{{ elemento.id }}_requisitosSoftware')">
                        RS asociados(
                        {% if bitacora %}
                            {{elemento.requisitosSoftware|enlistarRegistrados|largoLista}}
                        {% else %}
                            {{elemento.requisitosSoftware|enlistarVigentes|largoLista}}
                        {% endif %}
                        )
                    </button>
                </li>
                <ul id="{{ elemento.id }}_requisitosSoftware" style="display:none;">
                {% if bitacora %}
                    {% for rs in elemento.requisitosSoftware|enlistarRegistrados %}
                        {% if rs.vigencia %}
                            <li class="{{ rs.estado }}">{{rs}}</li>
                        {% else %}
                            <li class="{{ rs.estado }}" style="color:Gray;">{{rs}} (borrado)</li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for rs in elemento.requisitosSoftware|enlistarVigentes %}
                        <li class="{{ rs.estado }}">{{rs}}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
