{% extends "reqApp/proyecto/element_form.html" %}
{% block campos %}
    <div><span class="def_width">*Nombre: </span>{{ form.nombre }}</div>
    <div class="top"><span class="def_width">Descripción: </span></div> <div class="top">{{ form.descripcion }}</div>
    <div><div class="top"><span class="def_width">RS asociados: </span></div><div class="top">{{ form.requisitosSoftware }}</div>(presionar "Ctrl" para seleccionar)</div>
    <div><span class="def_width">*Prioridad: </span>{{ form.prioridad }}</div>
    <div><span class="def_width">Costo: </span>{{ form.costo }}</div>
{% endblock %}
