{% load staticfiles %}
{% load reqApp_tags %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reqApp.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/reqApp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dropdown.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dropdown.css' %}" />
    
    <title>mainReq</title>
</head>

<body>
    <div class="userDropDown">
        <span data-dropdown="#dropdown-1">{{user}}</span>
    </div>
    
    {% include "reqApp/navbar.html" with proyecto=request|proyecto %}
    
    {% block body %}{% endblock %}
    
    <div id="dropdown-1" class="dropdown dropdown-tip">
        <div class="contenedorElemento">
        <a href="{% url 'reqApp:logout' %}">Salir</a>
        </div>
    </div>
</body>
</html>
