{% extends "reqApp/base.html" %}
{% block body %}
{% for mensaje in mensajes %}
    <div class="mensaje">
        {{ mensaje }}
    </div>
{% endfor %}

<br/>

<div>
<a style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='abrirTodos()'>(+)Abrir todos</a>
<a style="display: inline-block;width:auto;" href='#' class="boton_azul" onclick='cerrarTodos()'>(--)Cerrar todos</a>
<div style="display: inline-block;width:20%;"></div>
<a style="display: inline-block;width:auto;" href='#nuevo' class="boton_azul" onclick='editarNuevoElemento()'>Nuevo</a>
</div>
<br/>
{% include barra_orden_elementos with atributos=atributos_ordenables %}

{% ifequal elementos|length 0 %}
    <p class="centrado">--------------- Lista Vacía ---------------</p>
{% else %}
    {% for e in elementos %}
        <div class="contenedorElemento">
            <div id="{{ e.elemento.textoIdentificador }}">
                {% include e.template with elemento=e.elemento %}
            </div>
            <div id="{{ e.elemento.textoIdentificador }}_form" class="contenedorEdicionElemento" style="display:none;">
                {% include form_template with form=e.form identificador=e.elemento.identificador textoIdentificador=e.elemento.textoIdentificador %}
                {% include borrar_form with identificador=e.elemento.identificador %}
                <button class="boton_azul" onclick="cancelarEdicionElemento('{{ e.elemento.textoIdentificador }}')">Cancelar</button>
            </div>
        </div>
    {% endfor %}
{% endifequal %}


<div id='nuevoElemento' class="contenedorEdicionElemento" style="display:none;">
    <a name='nuevo'></a>
    <p>Nuevo:</p>
    {% include form_template with form=form %}
    <button class="boton_azul" onclick="cancelarNuevoElemento()">Cancelar</button>
</div>

{% comment %}
    {% include form_template with form=form %}
    <br/>
    {% include form_template with form=form_instanced identificador=2 %}
    <br/>
    {% include borrar_form with identificador=2 %}
{% endcomment %}


{% endblock %}
