{% extends "reqApp/base.html" %}
{% block body %}
{% for mensaje in mensajes %}
    <div>
        {{ mensaje }}
    </div>
{% endfor %}

<br/>



<br/>
{% include barra_orden_elementos with atributos=atributos_ordenables %}
{% for e in elementos %}
    <div class="contenedorElemento">
        <div id="{{ e.elemento.textoIdentificador }}">
            {% include e.template with elemento=e.elemento %}
        </div>
        <div id="{{ e.elemento.textoIdentificador }}_form" class="contenedorEdicionElemento" style="display:none;">
            {% include form_template with form=e.form identificador=e.elemento.identificador textoIdentificador=e.elemento.textoIdentificador %}
            {% include borrar_form with identificador=e.elemento.identificador %}
            <button onclick="cancelarEdicionElemento('{{ e.elemento.textoIdentificador }}')">cancel</button>
        </div>
    </div>
{% endfor %}


<p>Agregar Nuevo:</p>
<div class="contenedorEdicionElemento">
    {% include form_template with form=form %}
</div>

{% comment %}
    {% include form_template with form=form %}
    <br/>
    {% include form_template with form=form_instanced identificador=2 %}
    <br/>
    {% include borrar_form with identificador=2 %}
{% endcomment %}


{% endblock %}
