<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/reqApp.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reqApp.css" />

<!-- fergklnñerg -->
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script>
    // reemplazamos el boton de tinymce por nuestro input file
    $(window).bind("load", function() {
        var id = '#' + $('textarea')[0].id + '_browseimg';
        var id_tooltip = id + '_voice';
        var tooltip = $(id_tooltip).html();
        var _url = "{% url 'reqApp:mce_upload_image' %}";
        var _csrf = "{{ csrf_token }}";
        $(id).replaceWith('<div class="tinymceImg" style="background:url({{ STATIC_URL }}tiny_mce/plugins/yenimg/img/img2.png) no-repeat center;"><input id="'+id+'" title="'+tooltip+'" type="file" accept="image/*" onchange="insertMceImg(this, \''+_url+'\', \''+_csrf+'\')"></div>');
    });
</script>

<form action="" method="post">
{% csrf_token %}
{{form}}
<button class="boton_azul" type="submit">Guardar</button>
</form>
<br/>
{{ instance|safe }}

{% comment %}
<input type="file" accept="image/*" onchange="insertMceImg(this, '{% url 'reqApp:mce_upload_image' %}', '{{ csrf_token }}')">
<button class="boton_azul" onclick="promptImgURL()">URLimg</button>
{% endcomment %}
