<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mce_filebrowser/js/filebrowser_init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/reqApp.js"></script>
<form action="" method="post">
{% csrf_token %}
{{form}}
<button class="boton_azul" type="submit">Guardar</button>
</form>
<br/>
{{ instance|safe }}

<button class="boton_azul" onclick="addImgExperimental('http://anakena.dcc.uchile.cl/anakena.jpg')">addIMG Test</button>
