{# espera variable: proyecto #}
<script>
$(document).ready(function() {
    $('.userDropDown').dropit();
});
</script>

<div class="navbar_up">
    <ul>
    <li><a title="Editar/Ver Elementos&#013;del Proyecto" name="navbar" {% ifequal navbar.1 "proyecto" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:RU' %}">Proyecto</a></li>
    <li><a title="Editar/Descargar Documentos&#013;del Proyecto" name="navbar" {% ifequal navbar.1 "documentos" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:docReq' %}">Documentos</a></li>
    <li><a title="Tareas,&#013;Estadísticas,&#013;Matrices,&#013;Consistencia,&#013;Bitácora" name="navbar" {% ifequal navbar.1 "herramientas" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:tareas' %}">Herramientas</a></li>
    </ul>
</div>

<div class="proyect_name">
<p>{{ proyecto }}</p>
</div>
<div class="navbar_down">
    <ul>
        {% ifequal navbar.1 "proyecto" %}
            <li><a title="HT" name="navbar" {% ifequal navbar.2 "HT" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:HT' %}">Hitos</a></li>
            <li><a title="TU" name="navbar" {% ifequal navbar.2 "TU" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:TU' %}">Tipos de Usuario</a></li>
            <li><a title="RU" name="navbar" {% ifequal navbar.2 "RU" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:RU' %}">Requisitos de Usuario</a></li>
            <li><a title="RS" name="navbar" {% ifequal navbar.2 "RS" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:RS' %}">Requisitos de Software</a></li>
            <li><a title="MD" name="navbar" {% ifequal navbar.2 "MD" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:MD' %}">Módulos</a></li>
            <li><a title="CP" name="navbar" {% ifequal navbar.2 "CP" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:CP' %}">Casos de Prueba</a></li>
        {% endifequal %}
        
        {% ifequal navbar.1 "documentos" %}
            <li><a title="Editar/Descargar Documento&#013;de Requisitos" name="navbar" {% ifequal navbar.2 "requisitos" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:docReq' %}">Documento de Requisitos</a></li>
            <li><a title="Editar/Descargar Documento&#013;de Diseño" name="navbar" {% ifequal navbar.2 "diseno" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:docDis' %}">Documento de Diseño</a></li>
            <li><a title="Editar/Descargar Documento&#013;de Casos de Prueba" name="navbar" {% ifequal navbar.2 "cp" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:docCP' %}">Documento de Casos de Prueba</a></li>
            <li><a title="Editar/Descargar Documento&#013;Histórico" name="navbar" {% ifequal navbar.2 "historico" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:docHis' %}">Documento Histórico</a></li>
        {% endifequal %}
        
        {% ifequal navbar.1 "herramientas" %}
            <li><a title="Reportar/Asignar&#013;Tareas Individuales" name="navbar" {% ifequal navbar.2 "tareas" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:tareas' %}">Tareas</a></li>
            <li><a title="Indicadores Estadísticos&#013;de Avance del Proyecto&#013;por Hito" name="navbar" {% ifequal navbar.2 "estadisticas" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:estadisticas' %}">Estadísticas</a></li>
            <li><a title="Matrices de Trazado" name="navbar" {% ifequal navbar.2 "matrices" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:matrices' %}">Matrices de Trazado</a></li>
            <li><a title="Revisar la Consistencia&#013;de Relaciones entre&#013;Elementos del Proyecto" name="navbar" {% ifequal navbar.2 "consistencia" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:consistencia' %}">Consistencia de Relaciones</a></li>
            <li><a title="Historial de Cambios&#013;de Elementos del Proyecto" name="navbar" {% ifequal navbar.2 "bitacora" %} class="navbar_selected" {% endifequal %} href="{% url 'reqApp:bitacora' %}">Bitácora</a></li>
        {% endifequal %}
    </ul>
</div>
