{% load reqApp_tags %}
<div class="barra_orden">
{% for atributo in atributos %}
    <div style="display: inline-block;width:{{ atributo.posicion }}%;">
        {% ifequal orden_actual atributo.orden %}
            <a class="barra_orden" href='?orden=-{{ atributo.orden }}{{getParams}}'><b>{{ atributo.orden }}</b></a>
        {% else %}
            {% ifequal orden_actual atributo.orden|invertOrd %}
                <a class="barra_orden" href='?orden={{ atributo.orden }}{{getParams}}'><b>{{ atributo.orden }}</b></a>
            {% else %}
                <a class="barra_orden" href='?orden={{ atributo.orden }}{{getParams}}'>{{ atributo.orden }}</a>
            {% endifequal %}
        {% endifequal %}
    </div>
{% endfor %}
</div>
