<div>
    <div class="tituloElemento">
        <a onclick="expandirContraerElemento('{{ elemento.textoIdentificador }}_contenido')" href="#" name="{{ elemento.textoIdentificador }}">
            <b>{{ elemento }}</b>
        </a>
    </div>
</div>





<div id="{{ elemento.textoIdentificador }}_contenido" style="display:none;">
    <br/>
    <div>
        {{ elemento.descripcion }}
    </div>
    <br/>
    <div>
        <div style="display: inline-block;width:40%;border:vertical-align:top;">
            Cantidad de usuarios: {{ elemento.cantidad }}
        </div>
        <div style="display: inline-block;width:40%;border:vertical-align:top;">
            Usuarios contactables: {{ elemento.usuariosContactables }}
        </div>
    </div>
    
    <button onclick="editarElemento('{{ elemento.textoIdentificador }}')">editar</button>
</div>
