{% extends "reqApp/proyecto/elemento_proyecto.html" %}
{% load reqApp_tags %}


{% block encabezado %}
    <div style="display: inline-block;width:41%;vertical-align:top;">
        <a onclick="expandirContraerContenido(this)" style="cursor:pointer;" name="{{ elemento.textoIdentificador }}">
            <b class="{{ elemento.estado }}">{{ elemento }}</b>
        </a>
    </div>
    <div title="Costo" style="display: inline-block;width:4%;vertical-align:top;">
        {{ elemento.costo }}
    </div>
    <div title="Prioridad" style="display: inline-block;width:11%;vertical-align:top;">
        {{ elemento|prioridad }}
    </div>
    <div title="Tipo" style="display: inline-block;width:17%;vertical-align:top;">
        {{ elemento|tipoRS }}
    </div>
    <div title="Hito Asociado" style="display: inline-block;width:20%;vertical-align:top;">
        {% if elemento.hito.vigencia %}
            <div>{{ elemento.hito }}</div>
        {% else %}
            <div style="color:Gray;">{{ elemento.hito }} (borrado)</div>
        {% endif %}
    </div>
{% endblock %}


{% block contenido %}
    <div><span style="color:Gray;">Estado: </span><span class="{{ elemento.estado }}">{{ elemento|estado }}</span></div>
    <br/>
    <div>
        {{ elemento.descripcion }}
    </div>
    <br/>
    <div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <div><span style="color:Gray;">Fuente: </span>{{ elemento.fuente }}</div>
            <div><span style="color:Gray;">Estabilidad: </span>{{ elemento.estabilidad }}</div>
        </div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <ul class="flat">
                <span style="color:Gray;">
                    {% if bitacora %}
                        Usuarios asociados({{elemento.tiposUsuario|enlistarRegistrados|largoLista}}):
                    {% else %}
                        Usuarios asociados({{elemento.tiposUsuario|enlistarVigentes|largoLista}}):
                    {% endif %}
                </span>
                <ul>
                    {% if bitacora %}
                        {% for tu in elemento.tiposUsuario|enlistarRegistrados %}
                            {% if tu.vigencia %}
                                <li>{{tu}}</li>
                            {% else %}
                                <li style="color:Gray;" >{{tu}} (borrado)</li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for tu in elemento.tiposUsuario|enlistarVigentes %}
                            <li>{{tu}}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </ul>
        </div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <ul class="flat">
                <span style="color:Gray;">
                        {% if bitacora %}
                            RU asociados({{elemento.requisitosUsuario|enlistarRegistrados|largoLista}}):
                        {% else %}
                            RU asociados({{elemento.requisitosUsuario|enlistarVigentes|largoLista}}):
                        {% endif %}
                </span>
                <ul>
                    {% if bitacora %}
                        {% for ru in elemento.requisitosUsuario|enlistarRegistrados %}
                            {% if ru.vigencia %}
                                <li class="{{ ru.estado }}">{{ru}}</li>
                            {% else %}
                                <li class="{{ ru.estado }}" style="color:Gray;">{{ru}} (borrado)</li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for ru in elemento.requisitosUsuario|enlistarVigentes %}
                            <li class="{{ ru.estado }}">{{ru}}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
