/* barra de navegación principal */
.navbar_up ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.navbar_up li
{
float:left;
}

.navbar_up a:link, .navbar_up a:visited
{
display:block;
width:auto;
color:Black;
background-color:White;
text-align:center;
padding:10px;
text-decoration:none;
border: 1px solid LightGray;
}

.navbar_up a:hover, .navbar_up  a:active
{
background-color:#F7F6F6;
}

/* barra de navegación secundaria */
.navbar_down ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.navbar_down li
{
float:left;
}

.navbar_down a:link, .navbar_down a:visited
{
display:block;
width:auto;
color:Black;
background-color:White;
text-align:center;
padding:4px;
text-decoration:none;
border: 1px solid LightGray;
}

.navbar_down a:hover, .navbar_down a:active
{
background-color:#F7F6F6;
}

/* destacar ruta actual en el navbar */
a.navbar_selected[name='navbar']
{
background-color:#D6D6D6;
}

/* título de proyecto */
.proyect_name p
{
margin-top: 2px;
margin-bottom: 2px;
font-size:1.5em;
}

/* contenedor de elemento de lista */
.contenedorElemento
{
border:1px solid #D6D6D6;
border-radius:5px;
padding:10px;
}

/* contenedor edicion de elemento */
.contenedorEdicionElemento
{
border:1px dashed #D6D6D6;
border-radius:5px;
padding:5px;
}

/*display: inline-block;*/

/* titulo elemento */
.tituloElemento a:link, .tituloElemento  a:visited
{
color:Black;
background-color:White;
text-decoration:none;
}

.tituloElemento a:hover, .tituloElemento a:active
{
background-color:White;
text-decoration:underline;
}

/* color estado de cumplimiento de elemento */
/* IMPORTANTE: estas clases deben corresponder con el nombre del estado especificado en choices.py */
.no_cumple
{
color:Red;
}

.cumple
{
color:Green;
}

.ambiguo
{
color:Purple;
}

/* vertical-align:top; */
.top
{
display: inline-block;
vertical-align:top;
}

/* barra para ordenar lista de elementos */
.barra_orden
{
background-color:#D6D6D6;
padding:5px;
}

a.barra_orden:link, a.barra_orden:visited
{
color:Blue;
background-color:#D6D6D6;
text-align:center;
text-decoration:none;
}

a.barra_orden:hover, a.barra_orden:active
{
color:Blue;
text-decoration:underline;
}

/* botones azules de formularios y herramientas */
button.boton_azul, a.boton_azul
{
color:White;
background-color:#1464F6;
text-decoration:none;
border: 1px solid White;
border-radius:5px;
}

button.boton_azul:hover, a.boton_azul:hover
{
background-color:#0C59CF;
}

button.boton_azul:active, a.boton_azul:active
{
background-color:#3D8AF7;
}

button.boton_azul:focus
{
border: 2px solid Black;
}
