/* font */
body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    background-color:#F7F6F6;
}

/* barra de navegación principal */
.navbar_up ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.navbar_up li
{
float:left;
}

.navbar_up a:link, .navbar_up a:visited
{
display:block;
width:auto;
color:Black;
background-color:#F7F6F6;
text-align:center;
padding:10px;
text-decoration:none;
border: 1px solid LightGray;
}

.navbar_up a:hover, .navbar_up  a:active
{
background-color:White;
}

/* barra de navegación secundaria */
.navbar_down ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.navbar_down li
{
float:left;
}

.navbar_down a:link, .navbar_down a:visited
{
display:block;
width:auto;
color:Black;
background-color:#F7F6F6;
text-align:center;
padding:4px;
text-decoration:none;
border: 1px solid LightGray;
}

.navbar_down a:hover, .navbar_down a:active
{
background-color:White;
}

/* destacar ruta actual en el navbar */
a.navbar_selected[name='navbar']
{
background-color:#D6D6D6;
}

/* título de proyecto */
.proyect_name p
{
margin-top: 2px;
margin-bottom: 2px;
font-size:1.2em;
color:Grey;
}

/* contenedor de elemento de lista */
.contenedorElemento
{
background-color:White;
border:1px solid #D6D6D6;
border-radius:5px;
padding:2px;
}

.contenedorElemento:hover
{
border:1px solid Gray;
}

/* contenedor edicion de elemento */
.contenedorEdicionElemento
{
padding:5px;
display:none;
}

/* contenedor de nuevo elemento de lista */
.contenedorNuevoElemento form
{
border:2px dashed #D6D6D6;
border-radius:5px;
padding:10px;
}


/* titulo elemento */
.tituloElemento a:link, .tituloElemento  a:visited
{
color:Black;
background-color:White;
text-decoration:none;
}

.tituloElemento a:hover, .tituloElemento a:active
{
background-color:White;
text-decoration:underline;
}

/* color estado de cumplimiento de elemento */
/* IMPORTANTE: estas clases deben corresponder con el nombre especificado en choices.py */
.no_cumple{color:Red;}
.cumple{color:Green;}
.ambiguo{color:Purple;}
.realizada{color:Blue;}
.no_realizada{color:Red;}
.aprobada{color:Green;}
.reprobada{color:Orange;}
.cancelada{color:Purple;}

/* vertical-align:top; */
.top
{
display: inline-block;
vertical-align:top;
}

/* barra para ordenar lista de elementos */
div.barra_orden
{
background-color:#D6D6D6;
border-radius:5px;
padding:5px;
margin: 0px;
}

.barra_orden div
{
margin:0px;
padding:0px;
}

a.barra_orden:link, a.barra_orden:visited
{
color:Blue;
background-color:#D6D6D6;
text-align:center;
text-decoration:none;
}

a.barra_orden:hover, a.barra_orden:active
{
color:Blue;
text-decoration:underline;
}

/* botones azules de formularios y herramientas */
button.boton_azul, a.boton_azul, SELECT.boton_azul
{
color:White;
background-color:#1464F6;
text-decoration:none;
border: 1px solid White;
border-radius:5px;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:0.9em;
padding:2px;
}

button.boton_azul:hover, a.boton_azul:hover, SELECT.boton_azul:hover
{
background-color:#0C59CF;
}

button.boton_azul:active, a.boton_azul:active
{
background-color:#3D8AF7;
}

button.boton_azul:focus
{
border: 1px solid Black;
}

/* texto centrado */
p.centrado
{
text-align:center;
}

/* mensajes para el usuario */
.mensaje
{
background-color:#D4E3FC;
padding:5px;
}

/* botones de las matrices de trazado */
div.matr_selec
{
border: 3px solid #1464F6;
position: absolute;
left: -1000px;
top: -1000px; 
width: 4px;
height: 4px;
}

div.matr_match
{
background-color:Black;
border: 1px solid Black;
position: absolute;
left: 100px;
top: 100px; 
width: 9px;
height: 9px; 
cursor:pointer;
}
div.matr_match:hover
{
background-color:#1464F6;
}

div.matr_no_match
{
background-color:White;
border: 1px solid Black;
position: absolute;
left: 100px;
top: 100px; 
width: 9px;
height: 9px;
cursor:pointer;
}
div.matr_no_match:hover
{
background-color:#1464F6;
}

div.matr_no_intersec
{
background-color:#D6D6D6;
border: 1px solid Black;
position: absolute;
left: 100px;
top: 100px; 
width: 9px;
height: 9px;
cursor:pointer;
}
div.matr_no_intersec:hover
{
background-color:#1464F6;
}

/* input invalido */
.invalido
{
background-color: #ffdddd;
}

/* texto campos formularios de elementos */
span.def_width
{
display:inline-block;
width:6em;
}

/* tabla de estadisticas */
table.estadisticas
{
border-collapse:collapse;
border-spacing: 0px;
border:none;
margin:0px;
padding:0px;
}
.estadisticas th
{
border-collapse:collapse;
border-spacing: 0px;
border: 1px solid LightGray;
padding:4px;
margin:0px;
}
.estadisticas td
{
border-collapse:collapse;
border-spacing: 0px;
border: 1px solid LightGray;
padding:3px;
margin:0px;
background-color:White;
}
tr.estadisticas
{
border-top: 3px solid LightGray;
}
th.estadisticas
{
width:6em;
}

/* barra de navegación de párrafos de Documentos */
.parrafos ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.parrafos li
{
}

.parrafos a:link, .parrafos a:visited
{
display:block;
width:auto;
color:Black;
background-color:White;
text-align:center;
padding:1px;
text-decoration:none;
border: 1px solid LightGray;
}

.parrafos a:hover, .parrafos  a:active
{
background-color:#F7F6F6;
}

a.selec[name='parrafo']
{
background-color:#D6D6D6;
}

.parrafos span
{
display:block;
width:auto;
color:Gray;
background-color:White;
text-align:center;
padding:1px;
text-decoration:none;
border: 1px solid LightGray;
}

/* input file/image tinymce */
div.tinymceImg
{
width: 20px;
height: 20px;
overflow: hidden;
}

div.tinymceImg input
{
display: block !important;
width: 20px !important;
height: 20px !important;
opacity: 0 !important;
overflow: hidden !important;
cursor: pointer;
}

/* user */
.userDropDown
{
position: absolute;
right:10px;
top: 10px; 
width: auto;
border:2px solid #1464F6;
color:#1464F6;
text-align:right;
cursor: pointer;
padding:2px;
}

/* ul flat */
ul.flat
{
margin-top:0px;
margin-bottom:0px;
}
