{% load reqApp_tags %}

<style>
/* tabla de estadisticas */
table.estadisticas
{
border-collapse:collapse;
border-spacing: 0px;
border:none;
margin:0px;
padding:0px;
}
.estadisticas th
{
border-collapse:collapse;
border-spacing: 0px;
border: 1px solid LightGray;
padding:4px;
margin:0px;
}
.estadisticas td
{
border-collapse:collapse;
border-spacing: 0px;
border: 1px solid LightGray;
padding:3px;
margin:0px;
}
tr.estadisticas
{
border-top: 3px solid LightGray;
}
</style>

{% for et in ETs %}
    <h2>{{ et.titulo }}</h2>
    <h3><i style="color:Gray;">{{ et.titulo }}: </i>Requisitos de Usuario</h3>
    {% include "reqApp/herramientas/estadisticas/RU.html" with RU=et.RU %}

    <pdf:nextpage/>
    <h3><i style="color:Gray;">{{ et.titulo }}: </i>Requisitos de Software</h3>
    {% include "reqApp/herramientas/estadisticas/RS.html" with RS=et.RS %}

    <pdf:nextpage/>
    <h3><i style="color:Gray;">{{ et.titulo }}: </i>Casos de Prueba</h3>
    {% include "reqApp/herramientas/estadisticas/CP.html" with CP=et.CP %}

    {% if et.MD %}
        <br/>
        <h3><i style="color:Gray;">{{ et.titulo }}: </i>Módulos</h3>
        {% include "reqApp/herramientas/estadisticas/MD.html" with MD=et.MD %}
    {% endif %}
    <pdf:nextpage/>
{% endfor %}
